<div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="card px-6 py-6">
          <h4>Posts Table</h4>
          <br>
          <p-table #dt1 [value]="posts" [rows]="pageSize" [totalRecords]="totalCount" selectionMode="single" [(selection)]="selectedPostID" (onRowSelect)="onRowSelect($event)"
            [responsive]="true" styleClass="p-datatable-gridlines" (onPage)="onPageChange($event)" [loading]="loading">

            <ng-template pTemplate="header">
              <tr>
                <th>Email Subject</th>
                <th>Post Date</th>
                <th>Email From</th>
                <th>Email To</th>
                <th>Email Cc</th>
                <th>Status</th>
                <th>Has Attachments</th>
              </tr>
              <tr>
                <th>
                  <p-columnFilter type="text" field="emailSubject"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="postDate"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="emailFrom"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="emailTo"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="emailCc"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter field="Status" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                          <p-tag [value]="option.value"></p-tag>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="boolean" field="hasAttachments"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-post>
              <tr [pSelectableRow]="post">
                <td>{{post.emailSubject}}</td>
                <td>{{post.postDate | date:'dd/MM/yyyy' }}</td>
                <td>{{post.emailFrom}}</td>
                <td>{{post.emailTo}}</td>
                <td>{{post.emailCc}}</td>
                <td style="width: 3rem"><span [class]="'customer-badge status-' + post.Status">{{post.Status}}</span></td>
                <td style="width: 3rem"><span [class]="'customer-badge status-' + post.hasAttachments">{{post.hasAttachments}}</span></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No posts found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading Posts data. Please wait.</td>
                </tr>
            </ng-template>
          </p-table>

          <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="onPageChange($event)"></p-paginator>
          

        </div>
        <p-dialog [(visible)]="postDialog" class="p-fluid" [closable]="false" [showHeader]="false">
            <ng-template pTemplate="content">
            <div class="col-12">
                <p-tabMenu styleClass="mb-5"  [model]="routeItems"></p-tabMenu>
              <router-outlet></router-outlet>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          </ng-template>
        </p-dialog>

        
      </div>
    </div>
  </div>
  

